<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">${sys:mddeRegLogDir:-target/mdde-logs}</Property>
        <Property name="rollingFileName">mdde-registry-log</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %p %c{1.} [%t] %m %throwable{short.message}     %throwable{10}%n"/>
        </Console>
        <RollingFile name="RollingProd"
                     fileName="${logPath}/${rollingFileName}.log"
                     filePattern="${logPath}/old/${rollingFileName}_%d{yyyy-MM-dd}.log.gz">
            <PatternLayout pattern="[%highlight{%-5level}] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1.} [%t] %m %ex%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50mb" />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="dev.jcri.mdde" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingProd"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingProd"/>
        </Root>
    </Loggers>
</Configuration>