<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">${sys:mddeRegLogDir:-target/mdde-logs}</Property>
        <Property name="rollingFileName">mdde-registry-%i</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingProd"
                     fileName="${logPath}/${rollingFileName}.log"
                     filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="15mb" />
                <SizeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="dev.jcri.mdde" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingProd"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="RollingProd"/>
        </Root>
    </Loggers>
</Configuration>